@using System.Xml.XPath
@using SmartShop.Utilities
@using System.Xml.Linq
@using SmartShop.Admin
@{
    //Layout = null;
    //List<AppConstant.Action> listAction = null;
    //if (Model != null && Model.GetType().FullName.Equals(typeof(List<AppConstant.Action>).FullName))
    //{
    //    listAction = (List<AppConstant.Action>)Model;
    //}
}
@model Object
<div class="row" style="margin-bottom: 10px;">
    <div class="col col-12">
        @*@{
            string currentControler = this.Url.RouteUrl(this.ViewContext.RouteData.Values);
            //currentControler = currentControler.Split(new string[] { this.ViewContext.RouteData.Values["controller"].ToString() }, StringSplitOptions.None)[0] + this.ViewContext.RouteData.Values["controller"];
            List<ActionAttribute> lstAction = AppConstant.ListAction(currentControler);

            foreach (var info in lstAction)
            {
                var id = info.Key + "Process";
                var function = info.Key + "Process();";
            <div style="float:left; margin-left:5px;" id="@id">
                @{
                    <a href="javascript:void(0);" onclick="@function">
                        <button class="btn btn-app btn-info btn-small no-radius">
                            <i class="@info.Icon"></i>
                            <span style="font-size: 12px; margin-bottom: 0;">@info.Name</span>
                        </button>
                    </a>
                }
            </div>
            }
        }*@
        <div style="float: left; margin-left: 5px;" id="createProcess">
            <a href="javascript:void(0);" onclick="createProcess()">
                <button class="btn btn-app btn-info btn-small no-radius">
                    <i class="fa fa-file-text"></i>
                    <span style="font-size: 12px; margin-bottom: 0;">Thêm</span>
                </button>
            </a>
        </div>
    </div>
</div>
