
.jcarousel-skin-Branch .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-Branch .jcarousel-container-horizontal {
    background-color: #FFFFFF;
    border: 1px solid #cbdfec;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    padding: 10px 25px;
    position: relative;
    width: 926px;
}
.jcarousel-skin-Branch .jcarousel-container-vertical {
    height: 125px;
    padding: 30px 20px;
    width: 225px;
}
.jcarousel-skin-Branch .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-Branch .jcarousel-clip-horizontal {
    height: 232px;
    width: 710px;
}
.jcarousel-skin-Branch .jcarousel-clip-vertical {
    height: 125px;
    width: 225px;
}
.jcarousel-skin-Branch .jcarousel-item {
    height: 90px;
    text-align: center;
    width: 90px;
}
.jcarousel-skin-Branch .jcarousel-item .saleprice {
    color: #ED1C24;
    height: auto;
    text-align: center;
    width: 152px;
}
.jcarousel-skin-Branch .jcarousel-item .vj-productname {
    height: auto;
    text-align: center;
    width: 152px;
}
.jcarousel-skin-Branch .jcarousel-item-horizontal {
    border: 1px solid #e7e9ea;
    margin-bottom: 10px;
    margin-right: 10px;
}
.jcarousel-skin-Branch .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 5px;
    margin-right: 0;
}
.jcarousel-skin-Branch .jcarousel-item-vertical {
    margin-bottom: 5px;
}
.jcarousel-skin-Branch .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-Branch .jcarousel-next-horizontal {
    background: url("../../imgs/icon/adv_next-horizontal.png") no-repeat scroll 2px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 5px;
    top: 95px;
    width: 32px;
}
.jcarousel-skin-Branch .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background: url("../../imgs/icon/adv_prev-horizontal.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 5px;
    right: auto;
}
.jcarousel-skin-Branch .jcarousel-next-horizontal:hover, .jcarousel-skin-Branch .jcarousel-next-horizontal:focus {
    background-position: -30px 0;
}
.jcarousel-skin-Branch .jcarousel-next-horizontal:active {
    background-position: -61px 0;
}
.jcarousel-skin-Branch .jcarousel-next-disabled-horizontal, .jcarousel-skin-Branch .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-Branch .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-Branch .jcarousel-next-disabled-horizontal:active {
    background-position: -96px 0;
    cursor: default;
}
.jcarousel-skin-Branch .jcarousel-prev-horizontal {
    background: url("../../imgs/icon/adv_prev-horizontal.png") no-repeat scroll -5px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 32px;
    left: 5px;
    position: absolute;
    top: 95px;
    width: 30px;
}
.jcarousel-skin-Branch .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background: url("../../imgs/icon/adv_next-horizontal.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto;
    right: 5px;
}
.jcarousel-skin-Branch .jcarousel-prev-horizontal:hover, .jcarousel-skin-Branch .jcarousel-prev-horizontal:focus {
    background-position: -37px 0;
}
.jcarousel-skin-Branch .jcarousel-prev-horizontal:active {
    background-position: -68px 0;
}
.jcarousel-skin-Branch .jcarousel-prev-disabled-horizontal, .jcarousel-skin-Branch .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-Branch .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-Branch .jcarousel-prev-disabled-horizontal:active {
    background-position: -100px 0;
    cursor: default;
}
.productprice {
    color: #E34843;
}
.jcarousel-skin-Branch .jcarousel-item-horizontal .productname h1 {
    font-size: 12px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
}
.jcarousel-skin-VBranch .jcarousel-container-vertical {
    height: 425px;
    padding: 25px 0;
    width: 225px;
}
.jcarousel-skin-VBranch .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-VBranch .jcarousel-clip-vertical {
    border: 1px solid #FCFCFC;
    height: 420px;
    width: 223px;
}
.jcarousel-skin-VBranch .jcarousel-item {
    height: 125px;
    width: 215px;
}
.jcarousel-skin-VBranch .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}
.jcarousel-skin-VBranch .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-VBranch .jcarousel-item-vertical {
    margin-bottom: 5px;
}
.jcarousel-skin-VBranch .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-VBranch .jcarousel-next-vertical {
    background: url("../../imgs/icon/next-vertical.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    cursor: pointer;
    height: 32px;
    left: 93px;
    position: absolute;
    width: 32px;
}
.jcarousel-skin-VBranch .jcarousel-next-vertical:hover, .jcarousel-skin-VBranch .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}
.jcarousel-skin-VBranch .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-VBranch .jcarousel-next-disabled-vertical, .jcarousel-skin-VBranch .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-VBranch .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-VBranch .jcarousel-next-disabled-vertical:active {
    background-position: 0 -96px;
    cursor: default;
}
.jcarousel-skin-VBranch .jcarousel-prev-vertical {
    background: url("../../imgs/icon/prev-vertical.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 32px;
    left: 93px;
    position: absolute;
    top: 0;
    width: 32px;
}
.jcarousel-skin-VBranch .jcarousel-prev-vertical:hover, .jcarousel-skin-VBranch .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}
.jcarousel-skin-VBranch .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-VBranch .jcarousel-prev-disabled-vertical, .jcarousel-skin-VBranch .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-VBranch .jcarousel-prev-disabled-vertical:focus, .jcarousel-skin-VBranch .jcarousel-prev-disabled-vertical:active {
    background-position: 0 -96px;
    cursor: default;
}
.jcarousel_imgBranch {
    width:auto;
    height:auto;
    border:none;
}
