@using SmartShop.UI

@{
    var cat = ProductCatSvr.GetAllCategory();
    var group = ProductGroupSvr.GetAllItem();
}

<div class="menusub_holder">
    <ul id="megadropsitemap">
        <li>
            <div class="nav-cat-title small green">DANH MỤC SẢN PHẨM</div>
            @if (cat.Count() > 0)
            {
                <div class="dropdown_4columns">
                    @foreach (var root in cat)
                    {
                        <div class="col_1">
                            <h3><a href="@AppEnv.ApplicationPath"><strong>@root.CategoryName</strong></a></h3>
                            @if (group.Where(e => e.GroupParrentID == null && e.CategoryID == root.CategoryID).Count() > 0)
                            {
                                <ul>
                                    @foreach (var sItem in group.Where(e => e.GroupParrentID == null && e.CategoryID == root.CategoryID))
                                    {
                                        <li><a href="@AppEnv.ApplicationPath">- @sItem.GroupName</a></li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                </div>
            }
        </li>
        <!-- End 4 columns Item -->
    </ul>
</div>
