@using SmartShop.UI

@{
    var lstProvider = ProviderSvr.GetAllItem();
}
<div class="zonespace">
</div>
<div class="cattab">
    <span class="maingrouppro">Thương hiệu uy tín</span>
    <ul>
        <!--<li class='active'><a href='#'>Thương hiệu uy tín</a></li>-->
    </ul>
</div>

<div class=" jcarousel-skin-Branch">
    <div style="position: relative; display: block; height: 100px; margin-bottom: 10px;" class="jcarousel-container jcarousel-container-horizontal">
        <div style="position: relative; height: 100px; width: 99%; margin-left: 8px;" class="jcarousel-clip jcarousel-clip-horizontal">
            <ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 3262px;"
                id="Ul1" class="jcarousel-list jcarousel-list-horizontal">
                @foreach (var r in lstProvider)
                {
                    var scr = AppEnv.ApplicationPath + r.Logo.Replace("~", "");
                    <li jcarouselindex="1" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
                        <img class="jcarousel_imgBranch" src="@scr" border="0">
                    </li>
                }
            </ul>
        </div>
        <div disabled="true" style="display: block; top: 45px;" class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal">
        </div>
        <div disabled="false" style="display: block; top: 45px;" class="jcarousel-next jcarousel-next-horizontal">
        </div>
    </div>
</div>
