@using SmartShop.Utilities
@using SmartShop.UI
@model CatGroupProductModel

@{
    int catId = 0;
    if (!Model.IsNullOrEmpty() && !Model.ObjCategory.IsNullOrEmpty() && !Model.ObjCategory.CategoryID.IsNullOrEmpty())
    {
        catId = Model.ObjCategory.CategoryID;
    }
    List<string> lstThuongHieu = ProductSvr.getThuongHieuSP(catId);
}
<div class="nav-cat-title small green"><a href="javascript:void(0)">Chọn thương hiệu</a></div>

<div id="link_submenu_vertical" style="max-height: 250px; padding-left: 2px;">
    <div>
        <ul>
            @foreach (var item in lstThuongHieu)
            {
                <li>
                    <div style="float:left; width:100%;">
                        <input id="chkProvider_@(lstThuongHieu.IndexOf(item))" type="checkbox" name="choice" value="@item" onchange="HtmlPager(1);"><label for="chkProvider_@(lstThuongHieu.IndexOf(item))">@item</label>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
