.menu-container {
    float: left;
    padding: 0;
    width: 220px;
    position: relative;
    border-left: 1px solid #BEC1C3;
}
.menu-container.right {
    float: right;
}
.menu-container h4 {
    font-size: 14px;
    margin: 0 0 5px;
}
.clear {
    clear: both;
}
.nav-vertical-mega-menu .menu {
    position: relative;
}
.nav-vertical-mega-menu .menu li a {
    background: url("../../imgs/bg/bg_nav.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    display: block;
    font-weight: bold;
    padding: 10px 38px 8px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.nav-vertical-mega-menu .menu li a:hover, .nav-vertical-mega-menu .menu li.mega-hover a {
    background: url("../../imgs/bg/bg_nav.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    display: block;
    color: #0094FF;
    padding: 10px 38px 8px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.nav-vertical-mega-menu .menu li a.dc-mega {
    position: relative;
}
.nav-vertical-mega-menu .menu li a .dc-mega-icon {
    background: url("../../imgs/bg/arrow_right.png") no-repeat scroll -6px 0 transparent;
    display: block;
    height: 8px;
    position: absolute;
    right: 15px;
    top: 16px;
    width: 6px;
}
.nav-vertical-mega-menu .menu li a:hover .dc-mega-icon, .nav-vertical-mega-menu .menu li.mega-hover a .dc-mega-icon {
    background-position: 0 0;
}
.nav-vertical-mega-menu .menu li .sub-container {
    background: url("../../../../Media/Portal/Products/2012/11/20/May-do-duong-huyet-Beurer-GL40.jpg") no-repeat scroll 100% 100% #fff;
    border-color: #CCCCCC #BBBBBB #BBBBBB #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 0 13px 17px 0;
    position: absolute;
    height: 300px;
    top: 37px;
    width: 745px;
    z-index: -1;
}
.nav-vertical-mega-menu .menu li .sub-container .sub {
    /*background: url("../../imgs/bg/bg_grad_top.png") repeat-x scroll 0 0 #FFFFFF;*/
    border:none;
    padding: 10px;
}
.nav-vertical-mega-menu .menu li .sub .row {
    overflow: hidden;
    width: 100%;
}
.nav-vertical-mega-menu .menu li .sub li {
    float: none;
    font-size: 1em;
    font-weight: normal;
    width: 230px;
}
.nav-vertical-mega-menu .menu li .sub li.mega-hdr {
    float: left;
    margin: 0 15px;
}
.nav-vertical-mega-menu .menu li .sub a, .nav-vertical-mega-menu .menu.left li .sub a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    display: block;
    float: none;
    font-size: 0.9em;
    margin-bottom: 0;
    text-decoration: none;
    text-shadow: none;
}
.nav-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a {
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
}
.nav-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    color: #0094ff;
    text-shadow: none;
}
.nav-vertical-mega-menu .menu .sub li.mega-hdr li {
    margin-bottom: 3px;
}
.nav-vertical-mega-menu .menu .sub li a {
    background: url("../../imgs/bg/bullet.png") no-repeat scroll 3px 11px transparent;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 3px 3px 15px;
}
.nav-vertical-mega-menu .menu .sub li a:hover {
    background: url("../../imgs/bg/bullet_white.png") no-repeat scroll 5px 11px;
    color: #0094ff;
}
.nav-vertical-mega-menu .menu .sub ul li {
    padding-right: 0;
}
.nav-vertical-mega-menu .menu li#menu-item-1 .sub .row {
    background: url("../../imgs/bg/mens.png") no-repeat scroll 0 center transparent;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 10px 10px 0 40px;
}
.nav-vertical-mega-menu .menu li#menu-item-1 .sub .row.last {
    background: url("../../imgs/bg/ladies.png") no-repeat scroll 0 0 transparent;
}
.nav-vertical-mega-menu .menu li#menu-item-1 .sub li.mega-hdr {
    padding: 75px 0 0;
}
.nav-vertical-mega-menu .menu li .sub-container.non-mega .sub {
    padding: 10px;
}
.nav-vertical-mega-menu .menu li .sub-container.non-mega li {
    float: none;
    margin: 0;
    padding: 0;
    width: 190px;
}
.submenu-box, .sub-menu ul li .submenu-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-right-radius: 3px;
    border-top: 3px solid #CE0404;
    box-shadow: 2px 2px 8px 2px #DEDEDE;
    display: none;
    height: 300px;
    left: 0;
    line-height: 1.5em;
    position: absolute;
    top: 37px;
    width: 745px;
    z-index: -1;
}
.submenu-box .mnu-sub, .sub-menu ul li .submenu-box .mnu-sub {
    height: 309px;
    left: 190px;
    padding-left: 12px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 520px;
}
.submenu-box .mnu-sub a, .sub-menu ul li .submenu-box .mnu-sub a {
    padding-top: 10px;
}
.submenu-box .mnu-sub a.m-child2, .sub-menu ul li .submenu-box .mnu-sub a.m-child2 {
    color: #231F20;
    padding-top: 5px;
}
.submenu-box .mnu-sub a.m-child2:hover, .sub-menu ul li .submenu-box .mnu-sub a.m-child2:hover {
    color: #DB2827;
}
.submenu-box .mnu-sub a.m-child2:before, .sub-menu ul li .submenu-box .mnu-sub a.m-child2:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #231F20;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    content: " ";
    display: block;
    float: left;
    height: 0;
    margin-right: 7px;
    margin-top: 5px;
    width: 0;
}
.submenu-box .mnu-sub .parent-title, .sub-menu ul li .submenu-box .mnu-sub .parent-title {
    color: #100000;
    font-size: 14px;
    font-weight: bold;
}
.submenu-box .mnu-sub .menu-list, .sub-menu ul li .submenu-box .mnu-sub .menu-list {
    width: 435px;
}
.submenu-box .mnu-sub .sub-item-1 .menu-sub-title, .sub-menu ul li .submenu-box .mnu-sub .sub-item-1 .menu-sub-title {
    color: #DB2827;
    font-size: 18px;
    margin-bottom: 10px;
}
.sub-menu ul li h1 {
    background: url("../img/icons/subcat.png") no-repeat scroll 97% 50% #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    position: relative;
    z-index: 202;
}
.sub-menu ul li h1 a {
    color: #111111;
    display: block;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    width: 183px;
}
a.menu-shock, .sub-menu ul li h1 a.menu-shock {
    background: url("../img/icons/icons.png") no-repeat scroll 110px -318px rgba(0, 0, 0, 0);
}
.sub-menu ul li:hover h1 {
    background: none repeat scroll 0 0 #CE0404;
}
.sub-menu ul li:hover h1 a {
    color: #FFFFFF;
    font-weight: bold;
}
.sub-menu ul li:hover h1 a.menu-shock {
    background: url("../img/icons/icons.png") no-repeat scroll 110px -318px #FFFFFF;
    color: #100000;
    font-weight: normal;
}
.submenu-box, .sub-menu ul li:hover .submenu-box {
    display: block;
}
.sub-menu ul li + li {
    border-top: 1px dotted #F37676;
}
.main-menu ul a, .sub-menu ul a {
    display: block;
    text-decoration: none;
}
.sub-menu ul .des {
    color: #898989;
    display: block;
    font-size: 11px;
    margin-bottom: 10px;
}
.sub-menu.detail {
    float: left;
    height: 45px;
    margin: 1px 1px 0;
    width: 123px;
}
.sub-menu.detail:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBD4D4 #DBD4D4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin: 0;
}
.sub-menu.detail:hover .dropdown-menu {
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: -1px;
    margin-top: -1px;
    z-index: 99999;
}
.sub-menu.detail .menu-title .absolute {
    background-color: #FFFFFF;
    z-index: 100005;
}
.sub-menu.detail .detail-menu-title {
    background-color: #F8F2F2;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 8px 12px 16px 10px;
    text-align: center;
    width: 101px;
}
.sub-menu.detail .detail-menu-title .caret {
    margin-left: 5px;
    margin-top: 9px;
}
.sub-menu.detail a.mnu-ac {
    border-left: 0 none;
    border-radius: 0;
    padding: 1px 0 1px 15px;
}
.sub-menu.detail .mnu-sub {
    min-height: 254px;
}
.sub-menu {
    position: absolute;
    z-index: 99999;
}
.sub-menu .sub-title {
    background: url("../img/icons/bg_sub_menu.png") no-repeat scroll 160px 8px rgba(0, 0, 0, 0);
    border-right: 1px solid #AE0100;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    width: 172px;
}
.sub-menu{
    display: none;
}
.sub-menu .sub-content-left {
    box-shadow: -2px 1px 5px #DEDEDE;
}
.sub-menu .sub-menu-content {
    border-top: 3px solid #AE0100;
    box-shadow: 2px 3px 5px #DEDEDE;
    display: none;
}
.sub-menu ul {
    background: none repeat scroll 0 0 #FFFFFF;
}
.sub-menu ul h1 a {
    width: 170px;
}
.sub-menu ul li {
    border: medium none;
    float: none;
}
.sub-menu ul li .submenu-box {
    border-top-color: #AE0100;
    box-shadow: 3px 5px 14px 0 #DEDEDE;
    height: 289px;
    top: 30px;
}
.sub-menu ul li .submenu-box .mnu-sub {
    height: 298px;
}
.sub-menu:hover{
    display: block;
}
.sub-menu:hover .sub-title {
    background: url("../img/icons/bg_sub_menu.png") no-repeat scroll 160px 8px #AE0100;
}
.sub-menu:hover .sub-menu-content {
    display: block;
}
