
html, body
{
    color: #1E1E1E;
    font-family: Arial,Tahoma,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, *, .x
{
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-align: left;
    text-decoration: none;
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
}

img, a
{
    border: 0 none;
}

:focus
{
    outline: 0 none;
}

ul, ol, dd
{
    line-height: 1.5em;
    list-style: none outside none;
}

ol
{
    list-style-position: outside;
    list-style-type: decimal;
}

dt
{
    font-weight: bold;
}

dd
{
    padding: 0;
}

li
{
    list-style-position: outside;
    list-style-type: none;
}

table
{
    border-collapse: separate;
    border-spacing: 0;
}

    table th
    {
        font-weight: bold;
    }

hr
{
    background: none repeat scroll 0 0 #E8E8E8;
    border: medium none;
    display: block;
    height: 1px;
    width: 100%;
}

.hide
{
    display: none;
}

.inline
{
    display: inline;
}

.block
{
    display: block;
}

.nfloat
{
    float: none;
}

.lfloat
{
    float: left;
}

.rfloat
{
    float: right;
}

.clear
{
    clear: both;
}

.lclear
{
    clear: left;
}

.rclear
{
    clear: right;
}

.navigation
{
    list-style: none outside none;
}

    .navigation li
    {
        display: inline;
    }

.debug
{
    border: 1px solid #FF0000;
}

.bold
{
    font-weight: bold;
    padding: 8px 0;
}

.red
{
    color: #C92E2A;
}

code, pre, var, .monospace
{
    font-family: "Palatino Linotype","Courier New",monospace;
    line-height: 1.5em;
    margin: 0.8em 0;
}

    code strong, pre strong, var strong, .monospace strong
    {
        background: inherit;
        color: #C92E2A;
    }

del
{
    background-color: inherit;
    color: #1E1E1E;
    text-decoration: line-through;
}

abbr
{
    border-bottom: 1px dashed #F9F9F9;
    cursor: help;
    font-size: 0.9em;
    text-transform: uppercase;
}

acronym
{
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

strong
{
    font-weight: bold;
}

em, i, cite
{
    font-style: italic;
}

u, .u
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
}

h1
{
    font-size: 3em;
}

h2
{
    font-size: 2.5em;
}

h3
{
    font-size: 2em;
}

h4
{
    font-size: 1.6em;
}

h5
{
    font-size: 1.2em;
}

h6
{
    font-size: 1em;
}

s, strike
{
    text-decoration: line-through;
}

sub
{
    vertical-align: sub;
}

sup
{
}

u
{
    text-decoration: underline;
}

p
{
    line-height: 1.5em;
    margin: 0;
}

a, a:visited, a:active
{
    background-color: inherit;
    color: #1E1E1E;
}

    a:hover
    {
        background: inherit;
        color: #C92E2A;
    }

blockquote, q
{
    border-bottom: 1px solid #F9F9F9;
    border-top: 1px solid #F9F9F9;
    margin: 0.8em 0;
    quotes: "" "";
}

    blockquote p, q p
    {
        background: inherit;
        color: #1E1E1E;
        margin: 0;
        padding: 0.8em;
    }

fieldset
{
    border: 0 none;
}

.input
{
    clear: left;
}

label
{
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px;
}

    label.xs
    {
        width: 50px;
    }

    label.s
    {
        width: 100px;
    }

    label.m
    {
        width: 150px;
    }

    label.l
    {
        width: 200px;
    }

    label.xl
    {
        width: 250px;
    }

input.default, textarea.default, select.default
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA #F9F9F9 #F9F9F9 #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 3px;
}

input.xs
{
    width: 20px;
}

input.s
{
    width: 50px;
}

input.m
{
    width: 125px;
}

input.l
{
    width: 200px;
}

input.xl
{
    width: 300px;
}

.button
{
    background: url("../imgs/bg/btn-bg.png") repeat-x scroll center top #202020;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    outline: medium none;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
}

    .button:hover
    {
        background-color: #1B92CE;
        /*background-image: -moz-linear-gradient(center top , #C92E2A, #F55954);*/
        background-repeat: repeat-x;
        border-radius: 5px;
        outline: medium none;
        text-decoration: none;
    }

    .button:active
    {
        outline: medium none;
        position: relative;
    }

    .button.blue
    {
        background-color: #105CAA;
        color: #FFFFFF;
    }

    .button.green
    {
        background-color: #97D139;
        color: #FFFFFF;
    }

    .button.red
    {
        background-color: #E34843;
        background-image: -moz-linear-gradient(center top, #F55954, #C92E2A);
        background-repeat: repeat-x;
        border-radius: 5px;
    }

    .button.grey
    {
        background-color: #EEEEEE;
        color: #4D4D4D;
        text-shadow: 0 -1px 1px #FFFFFF;
    }

    .button.big
    {
        font-size: 12px;
        padding: 7px 0;
        width: 766px;
    }

    .button.medium
    {
        font-size: 12px;
        margin-right: 10px;
        padding: 4px 12px;
    }

    .button.small
    {
        font-size: 11px;
        padding: 5px 8px;
        width: auto;
    }

.nav-cat-title
{
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    outline: medium none;
    text-decoration: none;
    vertical-align: baseline;
    width: 196px;
}

    .nav-cat-title.blue
    {
        background-color: #398BD1;
        color: #FFFFFF;
    }

    .nav-cat-title.green
    {
        background-color: #8DC641;
        color: #FFFFFF;
    }

    .nav-cat-title.red
    {
        background-color: #E34843;
        background-image: -moz-linear-gradient(center top, #F55954, #C92E2A);
        background-repeat: repeat-x;
        border-radius: 5px 5px 0 0;
    }

    .nav-cat-title.grey
    {
        background-color: #EEEEEE;
        color: #4D4D4D;
        text-shadow: 0 -1px 1px #FFFFFF;
    }

    .nav-cat-title.big
    {
        font-size: 12px;
        padding: 7px 0;
        width: 984px;
    }

    .nav-cat-title.medium
    {
        font-size: 12px;
        padding: 7px 12px;
        width: 744px;
    }

    .nav-cat-title.small
    {
        font-size: 12px;
        padding: 11px 10px 6px;
        width: 200px;
    }

        .nav-cat-title.small a
        {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            color: #FFFFFF;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            width: 200px;
        }

.nav-pro-title
{
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: medium none;
    text-decoration: none;
    vertical-align: baseline;
}

    .nav-pro-title a
    {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #C92E2A;
        font-size: 14px;
        font-weight: normal;
        padding: 0;
        text-decoration: none;
    }

    .nav-pro-title.blue
    {
        background-color: #398BD1;
        color: #FFFFFF;
    }

    .nav-pro-title.green
    {
        background-color: #97D139;
        color: #FFFFFF;
    }

    .nav-pro-title.red
    {
        background-color: #C92E2A;
    }

    .nav-pro-title.grey
    {
        background-color: #EFEFEF;
        background-image: -moz-linear-gradient(center top, #F4F4F4, #B7B7B7);
        background-repeat: repeat-x;
        border-radius: 5px 5px 0 0;
        color: #E34843;
    }

    .nav-pro-title.big
    {
        background-color: #1B92CE;
        background-image: -moz-linear-gradient(center top, #21ADDA, #116ABB);
        background-repeat: repeat-x;
        color: #FFFFFF;
        font-size: 14px;
        padding: 10px;
        width: 958px;
    }

    .nav-pro-title.medium
    {
        font-size: 14px;
        padding: 10px 10px 6px;
        width: 728px;
    }

        .nav-pro-title.medium h2
        {
            display: inline;
            font-size: 14px;
        }

        .nav-pro-title.medium a
        {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            color: #116ABB;
            font-size: 14px;
            font-weight: normal;
            padding: 0;
            text-decoration: none;
        }

            .nav-pro-title.medium a:active, a:visited
            {
                color: #116ABB;
                font-size: 14px;
                font-weight: normal;
                padding: 0;
                text-decoration: none;
            }

            .nav-pro-title.medium a:hover
            {
                color: #E34843;
                font-size: 14px;
                padding: 0;
                text-decoration: none;
            }

            .nav-pro-title.medium a.current
            {
                color: #E34843;
                font-size: 14px;
                padding: 0;
                text-decoration: none;
            }

        .nav-pro-title.medium a
        {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            color: #116ABB;
            font-size: 14px;
            font-weight: normal;
            padding: 0;
            text-decoration: none;
        }

.nav-news-title.blue
{
    background-color: #398BD1;
    color: #FFFFFF;
}

.nav-news-title.green
{
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(center top, #F4F4F4, #B7B7B7);
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
    color: #E34843;
}

.nav-news-title.red
{
    background-color: #C92E2A;
}

.nav-news-title.grey
{
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(center top, #F4F4F4, #B7B7B7);
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
    color: #E34843;
}

.nav-news-title.medium
{
    font-size: 14px;
    padding: 8px 10px;
    width: 728px;
}

    .nav-news-title.medium h2
    {
        display: inline;
        font-size: 14px;
    }

    .nav-news-title.medium a
    {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #116ABB;
        font-size: 14px;
        font-weight: normal;
        padding: 0;
        text-decoration: none;
    }

        .nav-news-title.medium a:active, a:visited
        {
            color: #116ABB;
            font-size: 14px;
            font-weight: normal;
            padding: 0;
            text-decoration: none;
        }

        .nav-news-title.medium a:hover
        {
            color: #E34843;
            font-size: 14px;
            padding: 0;
            text-decoration: none;
        }

        .nav-news-title.medium a.current
        {
            color: #E34843;
            font-size: 14px;
            padding: 0;
            text-decoration: none;
        }

.nav-pro-title.small
{
    font-size: 11px;
    padding: 10px;
    width: auto;
}

.cattab
{
    background: url("../imgs/bg/bg_black.png") repeat-x scroll 100% -120px rgba(0, 0, 0, 0);
    border-right: 1px solid #cbdfec;
    color: #FFFFFF;
    height: 37px;
    overflow: hidden;
    white-space: nowrap;
    width: 4000px;
}

    .cattab.big
    {
        background-color: #CC9900;
        background-image: -moz-linear-gradient(center top, #CC9900, #C06B10);
        background-repeat: repeat-x;
        border-radius: 5px 5px 0 0;
        float: left;
        height: 15px;
        padding: 10px;
        width: 760px;
    }

        .cattab ul li:first-child a:link, .cattab ul li:first-child a:visited, a:active, .cattab.big ul li:first-child a:link, .cattab.big ul li:first-child a:visited, a:active
        {
            border: medium none;
            color: #FFFFFF;
            font-size: 12px;
        }

    .cattab ul li:first-child a:hover, .cattabbig ul li:first-child a:hover
    {
        border: medium none;
        color: #ED201E;
        font-size: 12px;
    }

    .cattab ul li, .cattab.big ul li
    {
        display: inline;
        float: left;
        height: 15px;
        margin-top: 5px;
    }

        .cattab ul li a, .cattab.big ul li a
        {
            border-left: 1px solid #E4E4E4;
            color: #FFFFFF;
            font-size: 12px;
            height: 15px;
            padding: 0 10px;
        }

            .cattab ul li a:link, .cattab ul li a:active, .cattab ul li a:visited, .cattab.big ul li a:link, .cattab.big ul li a:active, .cattab.big ul li a:visited
            {
                color: #686868;
                display: block;
                font-size: 12px;
                margin-top: 5px;
                padding: 0 10px;
                position: relative;
                text-decoration: none;
            }

        .cattab ul li.active a, .cattab.big ul li.active a
        {
            color: #E10613 !important;
            display: block;
            font-size: 12px;
            margin-top: 5px;
            padding: 0 10px;
            position: relative;
            text-decoration: none;
        }

        .cattab ul li a:hover, .cattab.big ul li a:hover
        {
            color: #E10613 !important;
            display: block;
            font-size: 12px;
            margin-top: 5px;
            padding: 0 10px;
            position: relative;
            text-decoration: none;
        }

/*Header*/

.header-container
{
    /*background: url("../imgs/header/bg_header.jpg") no-repeat scroll center bottom #004B8F;*/
}

.header
{
    height: 167px;
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

.top-container
{
    background: none repeat scroll 0 0 #105CAA;
    height: 28px;
    width: 100%;
}

.top-links
{
    clear: both;
    height: 28px;
    margin: 0 auto;
    padding-left: 20px;
    position: relative;
    width: 1024px;
}

    .top-links a
    {
        color: #FFFFFF;
    }

        .top-links a:hover
        {
            color: #F6ED24;
        }

    .top-links ul li
    {
        float: left;
        margin-top: 5px;
        padding: 0 8px;
    }

.left-toplinks
{
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 550px;
}

    .left-toplinks li
    {
        display: block !important;
        float: left;
        position: relative !important;
    }

        .left-toplinks li ul
        {
            display: none !important;
        }

    .left-toplinks .level1
    {
        padding: 0 0 3px;
    }

    .left-toplinks li ul li
    {
        border-bottom: 1px solid #015F9F;
        border-top: 1px solid #62A2D2;
        margin: 0 auto;
        padding: 4px 0 !important;
        width: 124px !important;
        z-index: 99999;
    }

        .left-toplinks li ul li.first
        {
            border-top: medium none !important;
        }

    .left-toplinks li ul
    {
        background: url("../imgs/header/bg_left_toplinks.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
        margin-left: -40px;
        padding: 0 15px 5px;
        z-index: 999;
    }

        .left-toplinks li ul li:hover
        {
            color: #F8EF24;
        }

    .left-toplinks li a
    {
        color: #FFFFFF;
        display: inline-block;
        margin-left: 1px;
        text-decoration: none;
        white-space: nowrap;
    }

    .left-toplinks li:hover ul
    {
        display: block !important;
        position: absolute !important;
    }

    .left-toplinks li:hover li
    {
        float: none !important;
    }

.right-toplinks
{
    float: right;
    margin-top: -2px !important;
    position: relative;
    right: 215px;
    width: 190px;
}

    .right-toplinks li ul li
    {
        border-bottom: 1px solid #015F9F;
        border-top: 1px solid #62A2D2;
        margin: 0 auto;
        padding: 4px 0 !important;
        width: 124px !important;
        z-index: 99999;
    }

        .right-toplinks li ul li.first
        {
            border-top: medium none !important;
        }

    .right-toplinks li ul
    {
        background: url("../imgs/header/bg_left_toplinks.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
        margin-left: -40px;
        padding: 0 15px 5px;
        z-index: 999;
    }

        .right-toplinks li ul li:hover
        {
            color: #F8EF24;
        }

    .right-toplinks li a
    {
        color: #FFFFFF;
        display: inline-block;
        margin-left: 1px;
        text-decoration: none;
        white-space: nowrap;
    }

    .right-toplinks li:hover ul
    {
        display: block !important;
        position: absolute !important;
    }

    .right-toplinks li:hover li
    {
        float: none !important;
    }

    .right-toplinks .login
    {
        /*background: url("../imgs/header/dang-nhap.png") no-repeat scroll left 4px rgba(0, 0, 0, 0);*/
        height: 22px;
        padding-left: 17px;
        padding-right: 20px;
        padding-top: 3px;
        position: relative;
    }

    .right-toplinks .cart
    {
        padding-left: 5px;
        padding-top: 3px;
    }

    .right-toplinks .register
    {
        background: url("../imgs/header/dang-ki.png") no-repeat scroll left center rgba(0, 0, 0, 0);
        padding-left: 17px;
        padding-top: 3px;
    }

.hotline
{
    position: absolute;
    right: 20px;
    top: 0;
}

.header .logo
{
    float: left;
    margin-top: 12px;
}

    .header .logo strong
    {
        font-size: 0;
        height: 0;
        left: -999em;
        line-height: 0;
        overflow: hidden;
        position: absolute;
        text-indent: -999em;
        top: -999em;
        width: 0;
    }

.header .middle-header
{
    clear: both;
    height: 118px;
    position: relative;
    width: 100%;
}

    .header .middle-header .social
    {
        position: absolute;
        right: 195px;
        top: 10px;
    }

        .header .middle-header .social li
        {
            float: left;
            padding: 0 2px;
        }

    .header .middle-header .slogan
    {
        position: absolute;
        right: 0;
        top: 60px;
    }

        .header .middle-header .slogan li
        {
            float: left;
            padding: 0 20px;
        }

.header .bottom-header
{
    background: url("../imgs/header/bg_bottom_header.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 51px;
    margin: 0 auto;
    position: absolute;
    top: 118px;
    width: 1024px;
}

    .header .bottom-header .header-cart
    {
        background: url("../imgs/header/bg_cart.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
        float: right;
        height: 100%;
        position: relative;
        width: 213px;
    }

        .header .bottom-header .header-cart a.cart-link
        {
            color: #FFFFFF;
            font-size: 1.2em;
            font-weight: bold;
            left: 5px;
            position: absolute;
            text-transform: uppercase;
            top: 10px;
        }

        .header .bottom-header .header-cart span.count
        {
            background: url("../imgs/header/cart_qty.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
            color: #FFFFFF;
            left: 81px;
            padding: 6px 15px 10px;
            position: absolute;
            top: -5px;
        }

.right-toplinks .block-login
{
    display: none;
    position: absolute;
    z-index: 100;
    background: url('../imgs/header/mini-login-bg.gif') left top repeat-x;
    height: 169px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: -1px 1px 1px rgba(193, 214, 231, 0.2);
    -moz-box-shadow: -1px 1px 1px rgba(193, 214, 231, 0.2);
    box-shadow: -1px 1px 1px rgba(193, 214, 231, 0.2);
    left: -13px;
    top: 25px;
}

.right-toplinks .login:hover .block-login
{
    display: block;
    z-index: 999;
}

.right-toplinks .login:hover a.login-link
{
    color: #f6ed24;
}

.block-login .block-content
{
    padding: 8px 14px;
}

    .block-login .block-content label
    {
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        display: block;
    }

.block-login .input-text
{
    background: url('../imgs/header/login-input.png') left top no-repeat !important;
    border: none;
    margin: 0;
    width: 140px;
    height: 27px;
    padding-left: 30px;
    margin: 2px 0 10px;
}

.block-login input.input-text:-webkit-autofill
{
    background-color: transparent !important;
    background-image: url('../imgs/header/login-input.png') !important;
}

.block-login .input-text#mini-password
{
    background-position: left bottom;
}

.block-login .actions
{
    padding-top: 3px;
    position: relative;
}

    .block-login .actions .login-links
    {
        position: absolute;
        right: 0;
        top: 4px;
        width: 80px;
    }

        .block-login .actions .login-links a
        {
            display: block;
            font-size: 9px;
            font-weight: bold;
            margin-bottom: 5px;
        }

.productname
{
    max-height: 50px;
    overflow: hidden;
    text-align: center !important;
}

.productprice
{
    text-align: center !important;
}
