
#ddtabs1.basictab ul {
    list-style-type: none;
}
#ddtabs1.basictab li {
    display: inline;
    float: left;
    font-size: 13px;
    height: 41px;
    margin-right: 15px;
}
#ddtabs1.basictab li a {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    padding: 8px 10px;
    text-decoration: none;
}
#ddtabs1.basictab li a:hover, #ddtabs1.basictab li a.current {
    background-color:#e34843;
    background-image:-moz-linear-gradient(top,#f55954,#E34843);
    background-image:-ms-linear-gradient(top,#f55954,#E34843);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#f55954),to(#E34843));
    background-image:-webkit-linear-gradient(top,#f55954,#E34843);
    background-image:-o-linear-gradient(top,#f55954,#E34843);
    background-image:linear-gradient(top,#f55954,#E34843);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55954', endColorstr='#E34843', GradientType=0);
    /* Rounded Corners */
	-moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}
#ddtabs1.basictab li a:active {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    padding: 8px 10px;
    text-decoration: none;
}
.block {
    display: block;
}
.tabcontent {
    clear: both;
    display: none;
    position: relative;
    width: 200px;
    z-index: 250;
}
.tabcontent ul {
    background: white;
    border: solid 1px #E34843;
}
.tabcontent li {
    display: block;
    text-align: left;
    width: auto;
}
.tabcontent li a, .tabcontent li a:active {
    background-color: #FFF;
    color: #116ABB;
    display: block;
    padding: 10px 10px 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: auto;
}
.tabcontent li a:hover {
    background-color: #FFF;
    color: #E34843;
    display: block;
    padding: 10px 10px 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: auto;
}
