@using SmartShop.UI

@{
    var pType = WebInfoSvr.GetAllItem().Where(e => e.GroupInfo.Equals("SLIDE"));
}
<div class="bannertwo">
    <div id="slideshowWrapper">
        <ul id="slideshow">
            @foreach (var item in pType)
            {
                    <li>
                		<img src="@item.Value" border="0" width="540" height="295" alt="" />
                    </li>
            }
            </ul>
    </div>
    <script type="text/javascript" language="javascript">
        $('#slideshow').fadeSlideShow();
    </script>
</div>