div.rating-cancel, div.star-rating {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -999em;
    width: 13px;
}
div.star-rating, div.star-rating a {
    background: url("../img/icons/star.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
div.rating-cancel a, div.star-rating a {
    background-position: 0 -13px;
    border: 0 none;
    display: block;
    height: 100%;
    width: 16px;
}
div.star-rating-on a {
    background-position: 0 -1px !important;
}
div.star-rating-hover a {
    background-position: 0 -25px;
}
div.star-rating-readonly a {
    cursor: default !important;
}
div.star-rating {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    overflow: hidden !important;
}